.c{
    position: relative;
    /* height: 100vh; */
    overflow:hidden;
}
.c-bg{
    position: absolute;
    width: 20px;
    height: 200%;
    background: #61AB7A;
}
.c-wrapper{
    padding: 0 50px;
    display: flex;
}
.c-left{
    flex: 1;
    height: 100vh;
}
.c-right{
    flex: 1;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}
.c-title{
    font-size: 60px;
    width: 80%;
}
.c-info-item{
    display: flex;
    align-items: center;
    margin: 50px 0;
    font-weight: 300;
}
.c-icon{
    width: 30px;
    height: 30px;
    font-size: 40px;
    margin-right: 20px;
}
.c-desc{
    font-weight: 200;
    margin-top: 30px;
}
form{
    margin-top: 15px;
    margin-bottom: 10px;
}
input{
    width: 50%;
    height: 50px;
    border: none;
    border-bottom: 1px solid #000;
    margin: 10px 1px;
    font-size: 14px;
    padding-left: 10px;
}
textarea{
    width: 100%;
    margin: 10px 0;
    font-size: 14px;
    padding-left: 10px;
}
button{
    border: none;
    padding: 16px;
    box-sizing: border-box;
    background: #61AB7A;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}
.c-sent{
    text-align: center;
    margin: 5px 0;
}

@media screen and (max-width: 1000px){
    .c-wrapper{
       flex-direction: column;
    }
    .c-title{
        font-size: 30px;
        text-align: center;
        width: 100%;
    }
    .c-info-title{
        margin: 20px 0;
        width: 100%;
    }
    form{
        margin-top: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    input{
        width: 35%;
        height: 40px;
        margin: 10px;
        margin-left: 0;
    }
    button{
        margin: 0 auto;
        margin-top: 10px;
    }
}

@media screen and (min-width: 321px) and (max-width: 415px){
    .c{
        overflow:unset;
    }
    .c-wrapper{
        height: 100vh;
    }
    .c-bg{
        height: 100vh;
    }
}

@media screen and (max-width: 415px){
    .c-info{
        display: flex;
        flex-direction: column;
    }
    .c-info-item{
        margin-bottom: 5px;
    }
    .c-info-item{
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
    }
    .c-icon{
        margin-bottom: 15px;
    }
}